.box {
    /* lets set two different sizes for the font */
    /* One for mobile and one for desktop */
    font-size: 16px;
    border: 2px solid black;
    /* margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px; */
    /* margin: 10px 10px 20px; */
    margin: 10px 10px 1em;
}
.borderGreen {
    border: 2px solid green;
}
.parent {
    display: flex;
}
.images {
    width: 60vw;
}

/* Media query for mobile devices */
/* 500 max width, 600 min width */
@media only screen and (max-width: 500px){
    .box {
        font-size: 30px;
        border: none;
    }
    .parent {
        flex-direction: column;
    }
    /* .images{
        width: 200px;
    } */
}
@media only screen and (min-width: 501px) and (max-width: 1000px){
    .box {
        font-size: 22px;
    }
    .parent {
        flex-direction: column;
    }
    /* .images{
        width: 400px;
    } */
}
