<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="styles/styles.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Flexbox</title>
</head>

<body>
  <%- include("partials/_header.ejs") %>
    <main>
      <section class="parent">
        <article class="box">
          <!-- <h4>This is article 1!</h4> -->
          <p>Praesent accumsan a massa nec tincidunt. Praesent vehicula elit a ex dapibus sodales. Vestibulum orci nisl, scelerisque in est lobortis, lacinia laoreet nunc. Aliquam nec luctus ex. Nullam id consequat sem, et mattis augue. Nam non odio quis sem bibendum scelerisque eu sit amet mauris. Cras facilisis dictum sem, eu maximus nisl pharetra id.</p>
        </article>
        <article class="box">
          <!-- <h4>This is article 2!</h4> -->
          <p>Integer vel est non massa fringilla condimentum. Duis sollicitudin eu tortor sed gravida. Aliquam pulvinar sem nec eros consequat bibendum. Ut fringilla felis elit, in tincidunt dolor facilisis non. Maecenas venenatis dolor rhoncus quam rutrum, eu maximus velit faucibus. Donec quam nunc, molestie a auctor a, scelerisque at velit. Integer congue lacus nec enim mollis rutrum.</p>
        </article>
        <article class="box">
          <!-- <h4>This is an article 3!</h4> -->
          <p>Integer vel purus et tortor cursus egestas ac ut leo. Duis id consequat dui. Nam eget nibh in lectus semper porttitor. In sed nulla iaculis, euismod lacus eleifend, rutrum lorem. Nunc vel elit ipsum. Praesent facilisis varius risus, at maximus justo dapibus et. Curabitur in libero lectus. Etiam imperdiet congue elementum.</p>
        </article>
        <article class="box">
          <!-- <h4>This is an article 4!</h4> -->
          <p>Donec id libero eu elit tempus viverra. Vestibulum ut urna tincidunt velit iaculis dapibus vel in massa. Duis erat ligula, porta id ornare ac, porttitor euismod risus. Vestibulum imperdiet, metus feugiat gravida pellentesque, eros neque consequat tortor, a eleifend ante justo sed ipsum. Fusce dui ante, egestas non feugiat eget, fringilla sit amet purus. Donec ac lorem interdum arcu tristique feugiat. Quisque ac tristique dui. Nulla in turpis est. Aenean pellentesque justo at aliquam semper. Cras fringilla vestibulum congue.</p>
        </article>
        <article class="box">
          <!-- <h4>This is an article 5!</h4> -->
          <p>Ut pulvinar, libero non tristique commodo, magna odio auctor odio, nec tincidunt magna enim et ligula. Aliquam leo libero, tincidunt accumsan mi non, congue dignissim lacus. Praesent felis sem, pulvinar ut efficitur sodales, scelerisque quis purus. Vestibulum et aliquet eros, non suscipit turpis. Maecenas rhoncus, mauris eu blandit porta, lectus arcu finibus augue, eget eleifend est felis vel nisl. Aenean aliquam mattis quam. Nunc feugiat blandit mi quis ultricies.</p>
        </article>
      </section>
    </main>
</body>

</html>