<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/styles/styles.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Flexbox</title>
</head>

<body>
  <%- include("partials/_header.ejs") %>
    <main>
      <section>
        <article>
          <img class="images"src="https://picsum.photos/800/600" alt="" />
          <h4>This is article 1!</h4>
          <p>This article is awesome you should read it!</p>
        </article>

        <article>
          <img class="images" src="https://picsum.photos/800/600" alt="" />
          <h4>This is article 2!</h4>
          <p>This article is awesome you should read it!</p>
        </article>

        <article>
          <img class="images" src="https://picsum.photos/800/600" alt="" />
          <h4>This is an article 3!</h4>
          <p>This article is awesome you should read it!</p>
        </article>

        <article>
          <img class="images" src="https://picsum.photos/800/600" alt="" />
          <h4>This is an article 4!</h4>
          <p>This article is awesome you should read it!</p>
        </article>

        <article>
          <img class="images" src="https://picsum.photos/800/600" alt="" />
          <h4>This is an article 5!</h4>
          <p>This article is awesome you should read it!</p>
        </article>
      </section>
    </main>
    <!-- Bootstrap JS -->

</body>

</html>